/**************body style*******************/

body{
    background: #121314;

}


/************* wrapper style start***************/
/* - Wrapper */
.wrapper {
    padding-top: 138px;
  }
  .wrapper, .container {
    position: relative;
  }
/************* wrapper style end***************/


/**
* Section Brands
**/
.section.kf-brands {
    padding:0 7px 0 7px;
    
  }
  
  .kf-brands-items {
    margin-top: -50px;
  }
  
  .kf-brands-item {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80px;
  }
  .kf-brands-item .image {
    font-size: 0;
    opacity: 0.2;
    outline: hidden;
    -o-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  }
  
  
  .kf-brands-item .image img {
    max-height: 80px;
  }
  
  .kf-brands-item:hover .image {
    opacity: 1;
  }
  /**
